@page "/Toolbox/Developer/{UriParam}"

@namespace CloudToolbox.Components.Toolbox
@inherits DeveloperCalculatorBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Developer)">
    <Header>
        <ToolboxHeader Title="@(DisplayDirection + " " + DisplayCalcType)">
            <Description>
                @if(Direction == DeveleoperCalculatorDirection.From)
                {
                    <p>To use this converter, simply insert @DisplayCalcType into the field and we'll convert it to text.</p>
                } else
                {
                    <p>To use this converter, simply insert some text into the field and we'll convert it to @DisplayCalcType.</p>
                }
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>