@page "/Toolbox/From-Hex"
@using System.Text;
@using CloudToolbox.Toolbox.Shared;
@using CloudToolbox.Data;

<PageTitle>@Constants.TITLE_PREFIX From Hex</PageTitle>

<h1>From Hex</h1>

<InputOutput onChangeEvent="@OnChange" />

@code {
    public async Task<string> OnChange(string input)
    {
        if (input != null)
        {
            try
            {
                var hexArray = Convert.FromHexString(input);
                return System.Text.Encoding.UTF8.GetString(hexArray, 0, hexArray.Length);

            } catch (Exception _)
            {
                return "Invalid input";
            }
        }

        return string.Empty;
    }
}
