@namespace CloudToolbox.Toolbox

@page "/Toolbox/From-Base64"
@using System.Text;
@using CloudToolbox.Toolbox.Shared;
@using CloudToolbox.Data;

<PageTitle>@Constants.TITLE_PREFIX From Base64</PageTitle>
<h1>From Base64</h1>

<InputOutput onChangeEvent="@OnChange" />

@code {
    public async Task<string> OnChange(string input)
    {
        if (input != null)
        {
            try
            {
                return Encoding.UTF8.GetString(Convert.FromBase64String(input));
            } catch (Exception _)
            {
                return  "Invalid input";
            }
        }

        return string.Empty;
    }
}
