@page "/Toolbox/From-Hex"
@using System.Text;

<PageTitle>From Hex</PageTitle>

<h1>From Hex</h1>

<div class="mb-3">
    <label for="input" class="form-label">Input</label>
    <textarea @bind-value="Input" @onchange="OnChange" @bind-value:event="oninput" class="form-control" name="input" rows="3"></textarea>
</div>

<div class="mb-3">
    <label for="output" class="form-label">Ouput</label>
    <textarea class="form-control" name="output" rows="3" readonly>@Output</textarea>
</div>

@code {
    private string? Input { get; set; }
    private string? Output { get; set; }

    private void OnChange()
    {
        if (Input != null)
        {
            try
            {
                var input = Input.AsSpan();
                var hexArray = Convert.FromHexString(input);

                Output = System.Text.Encoding.UTF8.GetString(hexArray, 0, hexArray.Length);

            } catch (Exception _)
            {
                Output = "Invalid input";
            }
        }
    }
}
