@page "/Toolbox/Text/{UriParam}"

@namespace CloudToolbox.Components.Toolbox
@inherits TextCalculatorBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Text)">
    <Header>
        <ToolboxHeader Title="@("To " + DisplayCalcType)">
            <Description>
                    <p>To use this converter, simply insert some text into the field and we'll convert it to @DisplayCalcType</p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>