@page "/Toolbox/To-Base64"
@using System.Text;
@using CloudToolbox.Toolbox.Shared;
@using CloudToolbox.Data;

<PageTitle>@Constants.TITLE_PREFIX To Base64</PageTitle>

<h1>To Base64</h1>

<InputOutput onChangeEvent="@OnChange" />

@code {
    public async Task<string> OnChange(string input)
    {
        if (input != null)
        {
            return Convert.ToBase64String(Encoding.UTF8.GetBytes(input ?? string.Empty));
        }

        return string.Empty;
    }
}