@page "/Toolbox/To-Hex"
@using System.Text;
@using CloudToolbox.Toolbox.Shared;
@using CloudToolbox.Data;

<PageTitle>@Constants.TITLE_PREFIX To Hex</PageTitle>

<h1>To Hex</h1>

<InputOutput onChangeEvent="@OnChange" />

@code {
    public async Task<string> OnChange(string input)
    {
        if (input != null)
        {
            return Convert.ToHexString(Encoding.UTF8.GetBytes(input ?? string.Empty));
        }

        return string.Empty;
    }
}
