@attribute [Route(Routes.UNITS_STONE_TO_KG)]

@namespace CloudToolbox.Components.Toolbox.Units
@inherits StoneToKgBase

<SimpleCalculatorContainer HeaderColour="@Areas.Units.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Units.CssCalulatorPanelColour">
    <Header>
        <NewToolboxHeader Title="Stone to Kilogram">
            <Description>
                <p>
                    To use this converter, simply enter a weight in stones and we'll give you it in kilograms.
                </p>
            </Description>
        </NewToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>