@attribute [Route(Routes.TRAVEL_FUEL_REQUIRED)]

@namespace CloudToolbox.Components.Toolbox.Travel
@inherits FuelRequiredBase

<SimpleCalculatorContainer HeaderColour="@Areas.Travel.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Travel.CssCalulatorPanelColour">
    <Header>
        <ToolboxHeader Title="@TravelCalculatorCollection.FuelRequired.DisplayName">
            <Description>
                <p>
                    To use this converter, simply enter a speed in kilometres per hour and we'll convert it to miles per hour.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>