@attribute [Route(Routes.TRAVEL_FUEL_REQUIRED)]

@namespace CloudToolbox.Components.Toolbox.Travel
@inherits FuelRequiredBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Travel)">
    <Header>
        <ToolboxHeader Title="Fuel Required">
            <Description>
                <p>
                    To use this converter, simply enter a speed in kilometres per hour and we'll convert it to miles per hour.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>