@attribute [Route(Routes.TRAVEL_FUEL_REQUIRED)]

@inherits FuelRequiredBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer 
    Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Travel)"
    MetaPageTitle="Calculate Fuel Required"
    MetaDescription="Calculate the fuel required to make an automotive journey">
    <Header>
        <ToolboxHeader Title="Fuel Required">
            <Description>
                <p>
                    Calculate the fuel required to make an automotive journey.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>