@attribute [Route(Routes.TRAVEL_JOURNEY_COST)]

@namespace CloudToolbox.Components.Toolbox.Travel
@inherits JourneyCostBase

<SimpleCalculatorContainer HeaderColour="@CalculatorAreas.Travel.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@CalculatorAreas.Travel.CssCalulatorPanelColour">
    <Header>
        <ToolboxHeader Title="@TravelCalculatorCollection.JourneyCost.DisplayName">
            <Description>
                <p>
                    To use this converter, simply enter a speed in kilometres per hour and we'll convert it to miles per hour.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange" ResultStartInputGroupWidth="24"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>