@attribute [Route(Routes.TRAVEL_JOURNEY_COST)]

@inherits JourneyCostBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer 
    Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Travel)"
    MetaPageTitle="Calculate Journey Cost"
    MetaDescription="Calculate how much an automotive journey will cost">
    <Header>
        <ToolboxHeader Title="Journey Cost">
            <Description>
                <p>
                    Calculate how much an automotive journey will cost.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange" ResultStartInputGroupWidth="24"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>