@attribute [Route(Routes.TRAVEL_MPG_CALCULATOR)]

@inherits MpgCalculatorBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer 
    Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Travel)" 
    MetaPageTitle="Calculate MPG"
    MetaDescription="Calculate out how much MPG you are really getting out of your vehicle">
    <Header>
        <ToolboxHeader Title="Mpg Calculator">
            <Description>
                <p>
                    Work out how much MPG you are really getting out of your vehicle
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange" ResultStartInputGroupWidth="50" StartInputGroupWidth="24"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>