@attribute [Route(Routes.TRAVEL_MPG_CALCULATOR)]

@inherits MpgCalculatorBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Travel)">
    <Header>
        <ToolboxHeader Title="Mpg Calculator">
            <Description>
                <p>
                    To use this converter, simply enter a speed in kilometres per hour and we'll convert it to miles per hour.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange" ResultStartInputGroupWidth="50" StartInputGroupWidth="24"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>