@attribute [Route(Routes.DEVELOPER_TO_BASE64)]

@namespace CloudToolbox.Components.Toolbox.Developer
@inherits ToBase64Base

<SimpleCalculatorContainer HeaderColour="@Areas.Developer.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Developer.CssCalulatorPanelColour">
    <Header>
        <ToolboxHeader Title="To Base64">
            <Description>
                <p>
                    To use this converter, simply insert some text into the field and we'll give you Base64.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>