@attribute [Route(Routes.TEXT_TO_LOWER_CASE)]

@namespace CloudToolbox.Components.Toolbox.Text
@inherits ToLowerCaseBase

<SimpleCalculatorContainer HeaderColour="@Areas.Text.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Text.CssCalulatorPanelColour">
    <Header>
        <ToolboxHeader Title="To Lower Case">
            <Description>
                <p>
                    To use this converter, simply insert some text and we'll give you it back in lower case.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>