@attribute [Route(Routes.TEXT_TO_TITLE_CASE)]

@namespace CloudToolbox.Components.Toolbox.Text
@inherits FromBase64Base

<SimpleCalculatorContainer HeaderColour="@Areas.Text.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Text.CssCalulatorPanelColour">
    <Header>
        <ToolboxHeader Title="From Base64">
            <Description>
                <p>
                    To use this converter, simply insert some text and we'll give you it back in Title Case.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>