@attribute [Route(Routes.TEXT_TO_UPPER_CASE)]

@namespace CloudToolbox.Components.Toolbox.Text
@inherits ToUpperCaseBase

<SimpleCalculatorContainer>
    <Header>
        <ToolboxHeader Title="From Base64">
            <Description>
                <p>
                    To use this converter, simply insert some text and we'll give you it back in UPPER CASE.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>