@attribute [Route(Routes.DATE_AND_TIME_DURATION_BETWEEN_DAYS)]
@inherits BetweenDaysBase

@namespace CloudToolbox.Components.Toolbox.DateAndTime

<div class="row px-4 pt-5 calc-container" style="max-width: 800px; min-height: 100vh;">
    <div class="col-12 col-md-7">
        <NewToolboxHeader Title="Duration Between Two Dates">
            <Description>
                <p>
                    How many days, hours, minutes, and seconds are there between two dates?
                </p>
            </Description>
        </NewToolboxHeader>
    </div>

    <div class="col-12 col-md-5 shadow-sm pt-3 mb-5 calc-panel">
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </div>

</div>

<style>
    .calc-container {
        padding-top: 5rem;
    }

    .calc-panel {
        background-color: #f2fff5;
    }

    h2 {
        background-color: #e5ffeb;
    }
</style>