@attribute [Route(Routes.DATE_AND_TIME_DURATION_BETWEEN_TIMES)]

@namespace CloudToolbox.Components.Toolbox.DateAndTime
@inherits BetweenTimesBase

<SimpleCalculatorContainer HeaderColour="#e5ffeb;" PanelColour="#f2fff5;">
    <Header>
        <NewToolboxHeader Title="Duration Between Two Times">
            <Description>
                <p>
                    Have you ever wondered how many hours, minutes, and seconds are there between two moments in time? Well our calculator will tell you.
                    Fancy adding a date? Why not try our <a href="">Between Two Dates</a> calculator.
                </p>
            </Description>
        </NewToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>