@attribute [Route(Routes.MATHS_PERCENTAGE_CALCULATOR)]

@inherits PercentageCalculatorBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer 
    Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Maths)" 
    MetaPageTitle="Percentage Calculator"
    MetaDescription="Calculate what percent of X is Y for free in the cloud">
    <Header>
        <ToolboxHeader Title="Percentage Calculator">
            <Description>
                <p>
                    What percent of X is Y? Fill in fields, and we'll calculate it for you.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>