@attribute [Route(Routes.MATHS_PERCENTAGE_CALCULATOR)]

@inherits PercentageCalculatorBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer 
    Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Maths)" 
    MetaPageTitle="Percentage Calculator"
    MetaDescription="Try our Percentage Calculator online for free in the cloud">
    <Header>
        <ToolboxHeader Title="Percentage Calculator">
            <Description>
                <p>
                    What percent of X is Y? Fill in fields, and we'll calculate it for you.
                    With our calculator you can calculate percentages for a variety of purposes,
                    be it tips or discounts.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="PercentInputs" ResultsTemplate="PercentResultsTemplate" CalculatorHeaderText="Percentage" OnChangeEvent="@OnChangePercent"></SimpleCalculator>
        <SimpleCalculator Inputs="PercentOfInputs" ResultsTemplate="PercentOfResultsTemplate"  CalculatorHeaderText="Percentage of" OnChangeEvent="@OnChangePercentOf"></SimpleCalculator>

    </Calculator>

</SimpleCalculatorContainer>