@attribute [Route(Routes.AREA_MATHS)]

@namespace CloudToolbox.Components.Toolbox.Areas

@using System.Text;
@using CloudToolbox.Data;
@using CloudToolbox.Common.Routes;
@using CloudToolbox.Components.Toolbox.Shared;


<div class="row mt-5">
    @foreach (var calc in Areas.Maths.Calculators.OrderBy(x => x.DisplayName))
    {
        <AreaButton DisplayName="@calc.DisplayName" Link="@calc.Uri"></AreaButton>
    }
</div>