@attribute [Route(Routes.AREA_TRAVEL)]

@namespace CloudToolbox.Components.Toolbox.Areas

@using System.Text;
@using CloudToolbox.Data;
@using CloudToolbox.Common.Routes;
@using CloudToolbox.Components.Toolbox.Shared;

<h1>Travel Calculators</h1>

<div class="row">
    @foreach (var calc in Areas.Travel.Calculators.OrderBy(x => x.DisplayName))
    {
        <AreaButton DisplayName="@calc.DisplayName" Link="@calc.Uri"></AreaButton>
    }
</div>