@attribute [Route(Routes.AREA_UNITS)]

@namespace CloudToolbox.Components.Toolbox.Areas

@using System.Text;
@using CloudToolbox.Data;
@using CloudToolbox.Common.Routes;
@using CloudToolbox.Components.Toolbox.Shared;

<h1>Units Calculators</h1>

<div class="row">
    @foreach (var calc in Areas.Units.Calculators.OrderBy(x => x.DisplayName))
    {
        <AreaButton DisplayName="@calc.DisplayName" Link="@calc.Uri"></AreaButton>
    }
</div>