@namespace CloudToolbox.Components.Toolbox.Shared
@using CloudToolbox.Data;

<div class="col-12 col-md-6 col-lg-3 mb-3">
    <a class="btn w-100 shadow-sm area-button" href="@Link">@DisplayName</a>
</div>

@code {
    [Parameter]
    public string DisplayName { get; set; }

    [Parameter]
    public string Link { get; set; }

    public AreaButton()
    {
        DisplayName = string.Empty;
        Link = string.Empty;
    }
}
