@namespace CloudToolbox.Components.Shared
@using CloudToolbox.Data;

<div class="col-12 col-md-6 col-lg-3 area-btn">
    <a class="btn w-100 h-100 shadow-sm align-middle" href="@Link">@DisplayName</a>
</div>

@code {
    [Parameter]
    public string DisplayName { get; set; }

    [Parameter]
    public string Link { get; set; }

    public AreaButton()
    {
        DisplayName = string.Empty;
        Link = string.Empty;
    }
}
