<p>innnnn</p>

<div class="mb-3">
    <label for="input" class="form-label">Input</label>
    <textarea @bind-value="Input" @onchange="OnChange" @bind-value:event="oninput" class="form-control" name="input" rows="3"></textarea>
</div>

@code {
    public string Input { get; set; }

    [Parameter]
    public EventCallback onChangeEvent { get; set; }

    protected async Task OnChange()
    {
        await onChangeEvent.InvokeAsync();
    }
}
