@namespace CloudToolbox.Toolbox.Shared

<div class="mb-3">
    <label for="input" class="form-label">Input</label>
    <textarea @bind-value="Input" @onchange="OnChange" @bind-value:event="oninput" class="form-control" name="input" rows="3"></textarea>
</div>

<div class="mb-3">
    <label for="output" class="form-label">Ouput</label>
    <textarea class="form-control" name="output" rows="3" readonly>@Output</textarea>
</div>

@code {
    public string? Input { get; set; }

    public string Output { get; set; }

    [Parameter]
    public Func<string, Task<string>> onChangeEvent { get; set; }

    protected async Task OnChange()
    {
        Output = await onChangeEvent(Input);
    }
}
