<div class="bg-white shadow-sm h-100">
    <h1 class="h2 p-2">@Title</h1>
    <div class="p-3">
        @Description
    </div>
</div>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment? Description { get; set; }

    public ToolboxHeader()
    {
        Title = string.Empty;
    }
}
