<div class="mt-3">
    <h5>Bit rate</h5>

    <p class="mb-0">
        In telecommunications and computing, bit rate (bitrate or as a variable <i>R</i>) is the number of bits that are conveyed or processed per unit of time.
        The bit rate is expressed in the unit bit per second, often in conjunction with an SI prefix such as kilo, mega, giga or tera.
        The non-standard abbreviation bps is often used to replace the standard symbol bit/s, so that, for example, 1 Mbps is used to mean one million bits per second.
        In most computing and digital communication environments, one byte per second (symbol: B/s) corresponds to 8 bit/s. 
    </p>

    <a class="btn btn-sm btn-link ps-0" target="_blank" href="https://en.wikipedia.org/wiki/Bit_rate">Learn more on Wikipedia</a>
</div>

<div class="mt-3">
    <h5>Data-rate units</h5>

    <p class="mb-0">
        In telecommunications and computing, data-transfer rate is the average number of bits (bitrate) or data blocks per unit time passing through a communication link in a data-transmission system.
        Common data rate units are multiples of bits per second (bit/s) and bytes per second (B/s).
        For example, the data rates of modern residential high-speed Internet connections are commonly expressed in megabits per second (Mbit/s). 
    </p>

    <a class="btn btn-sm btn-link ps-0" target="_blank" href="https://en.wikipedia.org/wiki/Data-rate_units">Learn more on Wikipedia</a>
</div>