@inherits MainLayoutBase

<PageTitle>Cloud Toolbox</PageTitle>

<NavMenu />

<main>
    <article class="content bg-light">
        <div style="min-height: 90vh">
            @if (NotFound)
            {
                <div class="h-100 d-flex align-items-center justify-content-center mt-5 p-2">
                    <div>
                        <i class="bi bi-exclamation-triangle" style="font-size: 72px;"></i>
                    </div>
                    <div class="ps-3">
                        <h1>Page not found</h1>
                        <p>We're sorry, we couldn't find the page you requested.</p>
                    </div>
                </div>
            }
            else
            {
                @Body
            }
        </div>

        <div class="bottom-row px-4">
            <a href="privacy">Privacy</a>
        </div>
    </article>
</main>
