@inherits LayoutComponentBase

<PageTitle>Cloud Toolbox</PageTitle>

<NavMenu />

<main>
    <article class="content bg-light">
        @Body

        <div class="bottom-row px-4">
            <a href="privacy">Privacy</a>
        </div>
    </article>
</main>
