@inherits LayoutComponentBase

<PageTitle>CloudToolbox</PageTitle>

<div class="page">
    <div class="sidebar-container d-print-none">
        <div class="sidebar">
            <NavMenu />
        </div>
    </div>

    <main>
        <article class="content bg-light">
            @Body

            <div class="bottom-row px-4">
                <a href="privacy">Privacy</a>
            </div>
        </article>
    </main>
</div>
