@inherits MainLayoutBase

<PageTitle>Cloud Toolbox</PageTitle>

<main>
    @if (!NotFound)
    {
        <NavMenu />
    }
    <article class="content bg-light">
        <div style="min-height: 90vh">
            @if (NotFound)
            {
                <_404NotFound></_404NotFound>
            }
            else
            {
                @Body
            }
        </div>

        <div class="bottom-row px-4">
            <a href="privacy">Privacy</a>
        </div>
    </article>
</main>

