.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(13, 110, 253,0.4);
}

.oi {
    width: 1.5rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.1rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #141414;
    border-radius: 0 4px 4px 0;
    height: 2rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

.nav-item ::deep a:hover {
    background-color: rgba(0,0,0,0.1);
    color: black;
}

.nav-item > .h6 {
    color: white;
    margin-bottom: 0;
}
.nav-item > .oi {
    color: white;
}

.sidebar-container {
    overflow: hidden;
    max-width: 400px;
    box-shadow: -23px 0 27px 0px black;
    display: block;
    z-index: 20;
    background: #fafcff;
    transition: max-width 0.2s ease-out, transition 0.2s ease-out;
    position: fixed;
    top: 0;
}

.sidebar-container.collapsed {
    max-width: 100px;
    box-shadow: 0px 0 0px 0px transparent;
    background: transparent;
}

.sidebar-container.collapsed .navbar-brand {
    opacity: 0;
}

.sidebar-container.collapsed .nav-scrollable {
    height: 0;
    max-width: 0;
    opacity: 0;
}

.nav-scrollable {
    transition: opacity 0.4s ease-out;
    opacity: 1;
    height: 100vh;
    overflow-y: auto;
}


.global-search .results-container {
    width: 300px;
    background: white;
    position: fixed;
    top: 48px;
    right: 16px;
    height: 200px;
    overflow: hidden;
}

.global-search .results-container > .nav-link {
    height: 20px;
    width: 100%;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

.global-search .results-container > .nav-link:hover {
    background: black;
}

.flex-column {
    margin-top: 3rem;
}