<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cloud Toolbox</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link">
                <span aria-hidden="true"></span> Toolbox
            </NavLink>
        </div>

        <div class="nav-item px-1">
            <input class="form-control rounded-0" placeholder="Search..." type="text" @bind-value="FilterText" @bind-value:event="oninput" @onkeyup="FilterMenuItems" />
        </div>

        @foreach (var item in FilteredMenuItems)
        {
            if (item.Type == MenuItemType.Link)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@item.Href">
                        @item.Name
                    </NavLink>
                </div>
            } else
            {
                <div class="nav-item px-3">
                    <h6>@item.Name</h6>
                </div>
            }
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    public enum MenuItemType
    {
        Link = 0,
        Header = 1
    }

    public struct NavMenuItem
    {
        public string Name { get; }
        public string Href { get; }
        public MenuItemType Type { get; }

        public NavMenuItem(string name, string href)
        {
            Name = name;
            Href = href;
        }

        public NavMenuItem(string name, MenuItemType type)
        {
            Name = name;
            Href = string.Empty;
            Type = type;
        }
    }

    public List<NavMenuItem> FilteredMenuItems { get; set; }
    public string FilterText { get; set; }

    private List<NavMenuItem> MenuItems { get; }
    private bool collapseNavMenu = true;
    private bool hasSearched = false;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public NavMenu()
    {
        MenuItems = new List<NavMenuItem>();

        CreateHeaderItem("Date & Time");
        MenuItems.Add(new NavMenuItem($"Duration Between Days", $"toolbox/datetime/between-days"));
        MenuItems.Add(new NavMenuItem($"Duration Between Times", $"toolbox/datetime/between-times"));

        CreateHeaderItem("Text");
        MenuItems.Add(new NavMenuItem($"To Lower Case", $"toolbox/text/to-lower-case"));
        MenuItems.Add(new NavMenuItem($"To Upper Case", $"toolbox/text/to-upper-case"));
        MenuItems.Add(new NavMenuItem($"To Sentence/Title Case", $"toolbox/text/to-sentence-case"));

        CreateHeaderItem("Units");

        CreateHeaderItem("Maths");
        MenuItems.Add(new NavMenuItem($"Percentage", $"toolbox/maths/percentage-calculator"));
        MenuItems.Add(new NavMenuItem($"Percentage", $"toolbox/maths/times-tables"));

        CreateHeaderItem("Developer");
        CreateToFromItem("Base64");
        CreateToFromItem("Hex");
        CreateToFromItem("Binary");

        FilteredMenuItems = MenuItems;
    }

    private void CreateToFromItem(string name)
    {
        MenuItems.Add(new NavMenuItem($"To {name}", $"toolbox/to-{name.ToLower()}"));
        MenuItems.Add(new NavMenuItem($"From {name}", $"toolbox/from-{name.ToLower()}"));
    }

    private void CreateHeaderItem(string name)
    {
        MenuItems.Add(new NavMenuItem(name, MenuItemType.Header));
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    private void FilterMenuItems()
    {
        if (FilterText != null && FilterText.Length > 0)
        {
            hasSearched = true;
            FilteredMenuItems = MenuItems.Where(x => x.Name.ToLower().Contains(FilterText.ToLower())).ToList();
        } else
        {
            if (hasSearched)
            {
                FilteredMenuItems = MenuItems;
                InvokeAsync(() =>
                   {

                       StateHasChanged();
                   });
            }

        }
    }
}
