@attribute [Route(Routes.UNITS_CM_TO_INCH)]

@namespace CloudToolbox.Components.Toolbox.Units
@inherits CmToInchBase

<SimpleCalculatorContainer HeaderColour="@Areas.Units.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Units.CssCalulatorPanelColour">
    <Header>
        <NewToolboxHeader Title="Centimetres to Inches">
            <Description>
                <p>
                    To use this converter, simply enter centimetres and we'll convert it to inches.
                </p>
            </Description>
        </NewToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>