@attribute [Route(Routes.UNITS_GALLON_TO_LITRE)]

@namespace CloudToolbox.Components.Toolbox.Units
@inherits GallonsToLitresBase

<SimpleCalculatorContainer HeaderColour="@CalculatorAreas.Units.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@CalculatorAreas.Units.CssCalulatorPanelColour">
    <Header>
        <ToolboxHeader Title="Gallons to Litres">
            <Description>
                <p>
                    To use this converter, simply enter imperial gallons and we'll convert it to litres.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>