@attribute [Route(Routes.UNITS_INCH_TO_CM)]

@namespace CloudToolbox.Components.Toolbox.Units
@inherits CmToInchBase

<SimpleCalculatorContainer HeaderColour="@CalculatorAreas.Units.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@CalculatorAreas.Units.CssCalulatorPanelColour">
    <Header>
        <ToolboxHeader Title="Inches to Centimetres">
            <Description>
                <p>
                    To use this converter, simply enter inches and we'll convert it to centimetres.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>