@attribute [Route(Routes.UNITS_KG_TO_STONE)]

@namespace CloudToolbox.Components.Toolbox.Units
@inherits KgToStoneBase

<SimpleCalculatorContainer HeaderColour="@Areas.Units.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Units.CssCalulatorPanelColour">
    <Header>
        <NewToolboxHeader Title="Kilogram to Stone">
            <Description>
                <p>
                    To use this converter, simply enter a weight in kilograms and we'll convert it to stones.
                </p>
            </Description>
        </NewToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>