@attribute [Route(Routes.UNITS_KMH_TO_MPH)]

@namespace CloudToolbox.Components.Toolbox.Units
@inherits KmhToMphBase

<SimpleCalculatorContainer HeaderColour="@Areas.Units.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Units.CssCalulatorPanelColour">
    <Header>
        <NewToolboxHeader Title="km/h to mi/h">
            <Description>
                <p>
                    <em>
                        mi/h = mph, m.p.h., MPH<br />
                        km/h = kph or kmph
                    </em>

                    To use this converter, simply enter a speed in kilometres per hour and we'll convert it to miles per hour.
                </p>
            </Description>
        </NewToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>