@attribute [Route(Routes.UNITS_LITRE_TO_GALLON)]

@namespace CloudToolbox.Components.Toolbox.Units
@inherits LitresToGallonsBase

<SimpleCalculatorContainer HeaderColour="@Areas.Units.CssCalulatorHeaderBackgroundColour"
                           PanelColour="@Areas.Units.CssCalulatorPanelColour">
    <Header>
        <NewToolboxHeader Title="Litres to Gallons">
            <Description>
                <p>
                    To use this converter, simply enter litres and we'll convert it to imperial gallons.
                </p>
            </Description>
        </NewToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>