@page "/"
@using CloudToolbox.Data;

<PageTitle>@Constants.APP_NAME</PageTitle>

<h1>Hello!</h1>

<p>
    Cloud Toolbox is dedicated to providing free tools in the cloud, such as calculators and converters for anyone and everyone to use.
    We are continually updating and developing the site with new useful calculators and tools.
    If you have any suggestions, please do not hesitate to contact us using our contact form.
</p>
