@attribute [Route(Routes.PRIVACY)]

<PageTitle>Privacy Policy @Constants.TITLE_POSTFIX</PageTitle>

<div class="mx-auto text-center text-white bg-primary p-5" style="background-color:#d0c1ed">
    <h1>Privacy Policy</h1>
    <p>@Constants.APP_NAME</p>
</div>

<div class="d-block w-100" style="height: 10px; background-color: #1f79fd"></div>
<div class="d-block w-100" style="height: 10px; background-color: #4180ff"></div>
<div class="d-block w-100" style="height: 10px; background-color: #5e94ff"></div>
<div class="d-block w-100" style="height: 10px; background-color: #85aeff"></div>

<div class="p-4">
@*   <h2 class="mt-2">FAQs</h2>

   <ul class="list-group list-group-flush" style="max-width: 800px">
       <li class="list-group-item">Do you store any personal information?<br /><em>No.</em></li>
       <li class="list-group-item">Can anyone see what I type into a calculator?<br /><em>We can't, your inputs are not stored on any databases.</em></li>
       <li class="list-group-item">How accurate are the calculators?<br /><em>The calculators are provided on an approximation basis, they should not be used for scientific uses.</em></li>
   </ul>
*@
   <span id="ezoic-privacy-policy-embed"></span>
</div>