@attribute [Route(Routes.PRIVACY)]

<PageTitle>Privacy @Constants.TITLE_POSTFIX</PageTitle>

<div class="mx-auto text-center text-white bg-primary p-5" style="background-color:#d0c1ed">
    <h1>Privacy Policy</h1>
    <p>@Constants.APP_NAME</p>
</div>

<div class="d-block w-100" style="height: 10px; background-color: #1f79fd"></div>
<div class="d-block w-100" style="height: 10px; background-color: #4180ff"></div>
<div class="d-block w-100" style="height: 10px; background-color: #5e94ff"></div>
<div class="d-block w-100" style="height: 10px; background-color: #85aeff"></div>

<div class="p-4">
   <h1 class="mt-2">FAQs</h1>

   <ul class="list-group list-group-flush" style="max-width: 800px">
       <li class="list-group-item">Do you store any personal information?<br /><em>No.</em></li>
       <li class="list-group-item">Can anyone see what I type into a calculator?<br /><em>We can't, your inputs stay on your computer.</em></li>
       <li class="list-group-item">How accurate are the calculators?<br /><em>The calculators are provided on an approximation basis, they should not be used for scientific uses.</em></li>
   </ul>

   <h1 class="mt-5">Privacy Policy</h1>

   <p>TLDR - We store no personal information, we use Google Ads.</p>

   <h3>Information we collect</h3>

   <h5>How we collect information</h5>
   <p>We do no directly collect any information about you or your device.</p>

   <h5>Data processing and storage</h5>
   <p>Your data stays on your device, we store no information about calculator inputs.</p>

   <h5>Cookies</h5>
   <p>We do not directly use any cookies. Third parties, such as Google Adsense, may use tracking cookies.</p>

   <h5>Third-party access to information</h5>
   <p>We do not directly share any personal information with any third parties.</p>

   <h3>Changes to this policy</h3>
   <p>This policy may change at any time. We do not have a mailing list, so please check this page regularly for updates.</p>

   <p>Feel free to <a href="mailto:lewisjohnsondev@gmail.com">contact us</a> if you have any questions.</p>

   <small>This policy is effective as of the 1st of March 2023.</small>
</div>