@attribute [Route(Routes.DEVELOPER_FROM_BINARY)]

@namespace CloudToolbox.Components.Toolbox.Developer
@inherits FromBinaryBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Developer)">
    <Header>
        <ToolboxHeader Title="From Binary">
            <Description>
                <p>
                    To use this converter, simply insert binary into the field and we'll give you back text.
                </p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>